.deps/
.dirstamp
.libs/
Makefile
Makefile.in
*.[ao]
*.l[ao]
*~
/INSTALL
/MSVC_Net201?/sigc.rc
/MSVC_Net201?/sigc++config.h
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/libsigc++-*.tar.*
/libtool
/sigc++config.h
/sigc++-*.pc
/stamp-h?
