.deps
.dirstamp
.libs
Makefile
Makefile.in
sigc-2.0.rc
sigc++config.h
*.[ao]
*.l[ao]
/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libsigc++-*.tar.*
/libtool
/*.lineno
/sigc++config.h
/sigc++-*.pc
/stamp-h?
