name: "CMake: gcc"

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: |
        cmake .
        make
    - name: Test
      run: make test
